@charset "UTF-8"
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}


body {
  background: rgb(214, 214, 214);
  color: #333;
  
}
#principal {
    background-color:white ;
    border-radius: 10px ;
    box-shadow:1px 2px rgba(0, 0, 0, 0.208) ;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.141);

}
header {
  border-radius: 10px 10px 0px 0px;
  background: #4c93af;
  color: white;
  text-align: center;
  padding: 50px 0px;
  margin-top: 0px;
  background-image:url(IMG_20240919_144032.jpg);
  background-size: cover; /* cobre tudo */
  background-position:center ; /* centraliza */
  background-repeat: no-repeat;
}
a{
  color:#4c93af;
  text-decoration: none;
}
a:hover{
  color: black;
}
p{
  padding: 20px;
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
img{
  width: 60%;
  height: auto;
}

div p {
  text-align: center;
  align-items: center;
  
}

main {
   
  max-width: 1100px;      /* largura boa pra telas grandes */
  margin: 0 auto;        /* 👈 ISSO CENTRALIZA */
  padding: 0 20px;       /* respiro nas laterais */
}

.sobre{
    padding: 20px;
}
section {
  margin-bottom: 30px;
  
  
}
#grande{
  width: 300px;
  height: auto;
}
section img{
  padding: 20px;
  width: 100%;
  align-items: center;
}
.lado-a-lado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.lado-a-lado p {
  width: 50%;
  text-align: justify;
}

.lado-a-lado img {
  width: 45%;
  height: auto;
  border-radius: 8px;
}

#duascolunas{
  display: flex;
  flex-direction: column; /* um embaixo do outro */
  align-items: center;
  gap: 20px;
}
.duascolunas p {
  max-width: 600px;
  text-align: center;
}
.duascolunas img {
  width: 80%;
  max-width: 500px;
}

footer {
  list-style-type: '\2714\00a0\00a0';
  
  list-style-position: inside;
  text-align: center;
  background: #c6d0d4;
  border-top: 4px solid #4c93af;
  padding: 0px ;
  box-sizing: 10px 0px;
  border-radius: 0px 0px 10px 10px;
}
footer p{
  padding: 0px;
}


footer h2 {
  text-align: center;
  margin-bottom: 10px;
}

footer p {
  text-align: center;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .lado-a-lado {
    flex-direction: column;
    text-align: center;
  }

  .lado-a-lado p,
  .lado-a-lado img {
    width: 90%;
  }
}


